* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Libre Baskerville', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:3.5em;
	padding-right:3.5em;
	padding-top:.5em;
	line-height:1.5em;
	color:#000;
	}

blockquote{font-size:1.1em;
			line-height:1.5em;
			padding-left:5em;
			padding-right:5em;
			padding-top:1.7em;
			padding-bottom:1em;
            border-top: 2px solid #EE273C;
			border-bottom: 2px solid #EE273C;}

cite{font-size:.9em;
	line-height:1.2em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:56em;}

.red{color:#fff;}

.blue{color:#fff;}

.gr{color:#fff;}

.blu{color:#fff;}

/*------------------*/

.parallax h1{position:absolute;
			left:1em;
			top:4em;
            right:10em;}

.parallax h3{position:absolute;
			left:0em;
			top:38em;
            right:35em;}

.parallax h5{position:absolute;
			left:0em;
			top:53em;
            right:46em;}

 h1 {font-family: 'Roboto Slab', serif;
         	font-weight:normal;
            color:#000;
			text-align: center;
            font-size:4em;
			padding-top:1em;
			padding-bottom:0em;
			}

h2 {font-family: 'Roboto Slab', serif;
            color:#000;
			text-align:center;
    		font-size:2em;
			padding-top:1em;
            padding-bottom:.8em;}

h3 {font-family: 'Roboto Slab', serif; 
	font-size:1em;
	line-height:1.5em;
	padding-top:2em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;
	}

h5{font-family: 'Roboto Slab', serif;
	font-size:.8em;
	line-height:1.25em;
	text-align:justify;
	text-align:right;}

/*------------------*/

.nav a{
	padding:4em 0;
	text-align:center;
	margin:5px;
	color:#fff;
	text-decoration:none;
	font-size:.9em;
	font-weight:bold;}

nav {padding-top:1em;
	padding-bottom:1em;}

nav ul {text-align:center;}

nav ul li {display:inline;
	margin:5px;
	text-align:center;}

nav{position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	z-index:2;}

.nav a:hover{text-decoration:none;
			color:#EE273C;
			font-weight:bold;}

/*------------------*/

.takimg{width:40%;
    padding-left:3.5em;
    float:left;
    margin-right:1.5em;
    margin-bottom:.1em;
}

.man{float:right;
    width:40%;
    padding-right:3em;
    margin-left:1.5em;}

.moa{width:30%;
    float:left;
    padding-left:3.5em;
    margin-right:1.5em;}

/*------------------*/

caption{font-family: 'Roboto Slab', serif; 
	font-size:1.3em;
	line-height:1.5em;
	padding-top:.5em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;}

table {margin:auto;
        width:45%;
        border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {height:40px;
    text-align:center;
    background-color: #EE273C;
    color: white;
}

td {
    height:25px;
    text-align:center;
}

th, td {
    border:1.5px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}

/*------------------*/

.foot{background-color:#1F4280;
		height:20px;
		margin-top:2em;}

.footr{font-size:.7em;
	color:#000;
	padding-top:0em;
	padding-bottom:1em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
	background:#fff;
	text-decoration:none;
		}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.8em;
        text-align:center;
		padding-bottom:1.5em;
		padding-left:3em;
		padding-top:0em;
		padding-right:6em;
		color:#EE273C;
		}