* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Libre Baskerville', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:3.5em;
	padding-right:3.5em;
	padding-top:.5em;
	line-height:1.5em;
	color:#000;
    text-align:justify;
	}

blockquote{font-size:1.5em;
			line-height:1.5em;
			padding-left:5em;
			padding-right:5em;
			padding-top:1.7em;
			padding-bottom:1em;
            color:#fff;
            text-align:left;
            font-style:italic;}

cite{font-size:.6em;
	line-height:1.2em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:3.3em;}

.red{color:#fff;}

.red1{padding-bottom:1.6em;
    background-color:#EE273C;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.red12{padding-bottom:2.5em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:2.5em;}

.red1 p{line-height:2;}

.tab-red{color:#fff;
        background-color:#EE273C;
        padding-top:.7em;
        padding-bottom:.8em;}

.blue1{padding-bottom:1.6em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:1.5em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.white{padding-bottom:2em;}

#bird{padding-top:.7em;}

/*------------------*/

#man{width:100%;}

#takimg{width:100%;}

.box {margin-right:3.5em;
    border:2px solid #000;
    float:right;
    height:24em;
    margin-left:1.5em;
    margin-bottom:-1em;
    margin-top:.8em;
    position:relative;
    overflow:hidden;
    width:40%;
}

.cap{color:#fff;padding-left:33%;}

.box .caption {
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    z-index:100;
    -webkit-transition:all 300ms ease-out;
    -moz-transition:all 300ms ease-out;
    -o-transition:all 300ms ease-out;
    -ms-transition:all 300ms ease-out;
    transition:all 300ms ease-out;
    left:0;
}

.box .simple-caption {
    height:11%;
    width:100%;
    display:block;
    bottom:-11%;
    line-height:30pt;
    text-align:center;
}

.box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*------------------*/

.parallax h1{position:absolute;
			left:.5em;
			top:2em;
            right:8em;}

.parallax h3{position:absolute;
			left:0em;
			top:38em;
            right:35em;}

 h1 {font-family: 'Roboto Slab', serif;
         	font-weight:normal;
            color:#000;
			text-align: center;
            font-size:5em;
			padding-bottom:0em;
            line-height:1.6;
			}

h2 {font-family: 'Roboto Slab', serif;
            color:#000;
			text-align:center;
    		font-size:2em;
			padding-top:1.5em;
            padding-bottom:1em;}

h3 {font-family: 'Roboto Slab', serif; 
	font-size:1em;
	line-height:1.5em;
	padding-top:2em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;
	}

/*------------------*/
nav a{font-family: 'Roboto Slab', serif;
	padding:.1em 0;
	text-align:right;
	margin:6px;
	color:#fff;
	text-decoration:none;
	font-size:.9em;
	font-weight:bold;
    }

nav {padding-top:1em;
	padding-bottom:1em;}

nav ul {text-align:right;
        padding-right:2em;}

nav ul li {display:inline;
	margin:5px;
	text-align:right;}

nav{position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	z-index:2;}

nav a:hover{text-decoration:none;
			color:#EE273C;
			font-weight:bold;}

#nat-geo{margin-right:49em;
        color:yellow;}

.primary-nav:hover {
  border-bottom: 2px solid #fff;
 }

/*------------------*/

#moa{width:26%;
    float:left;
    margin-top:-4em;
    padding-left:3.3em;
    margin-right:4em;}

#map{float:left;
    width:100%;
    height:30em;
    margin-bottom:1em;
    margin-right:1em;
    margin-top:.8em;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;}

.bottombird{height:500px;
            padding-left:48em;}

@keyframes slideInLeft {
  from {
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
    visibility:visible;
  }

  to {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name:slideInLeft;
  animation-name:slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
    visibility:visible;
  }

  to {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
    visibility:visible;
  }

  to {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name:slideInRight;
  animation-name:slideInRight;
}
    
/*------------------*/

.esttab{margin-top:1em;
        margin-bottom:2em;
        width:70%;
        }

.facts-tab{width:60%;
            line-height:1em;}

caption{font-family: 'Roboto Slab', serif; 
	font-size:1.3em;
	line-height:1.5em;
	padding-top:.5em;
	padding-bottom:.7em;
	text-align:justify;
	text-align:center;
	color:#000;}

table{margin:auto;
        width:45%;
        border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
}

th{height:40px;
    text-align:center;
    background-color:#4d4d4d;
    color: white;
}

td{
    height:25px;
    text-align:center;
}

th, td{
    border:1.5px solid #ddd;
}

tr:nth-child(odd){background-color:#fff;}
tr:nth-child(even){background-color:#f2f2f2;}

tr:hover{background:#EEBED4;}

/*------------------*/

.foot1{background-color:#EE273C;
		height:1em;}

.footr p{color:#fff;}

.footr{font-size:.6em;
	color:#ffffff;
	padding-top:1em;
	padding-bottom:1em;
	width:100%;
	background:#000;
	text-decoration:none;
		}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.7em;
        text-align:center;
		padding-bottom:1.5em;
		padding-left:5em;
		padding-top:1em;
		padding-right:6em;
		color:#EE273C;
		}

/*------------------*/
/*------------------*/
    
@media (max-width:979px) {
    
body { max-width:100%;
			min-height:100%;
			font-size:.9em;
            font-family: 'Libre Baskerville', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	line-height:1.5em;
	color:#000;
    text-align:justify;
	}

blockquote{font-size:1em;
			line-height:1.5em;
			padding-left:2em;
			padding-right:2em;
			padding-top:1.7em;
			padding-bottom:1em;}

cite{font-size:.7em;
	line-height:1.2em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1em;}

.red{color:#fff;}

.red1{padding-bottom:1.6em;
    background-color:#EE273C;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.red12{padding-bottom:2.5em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:2.5em;}

.red1 p{line-height:2;}

.tab-red{color:#fff;
        background-color:#EE273C;
        padding-top:.7em;
        padding-bottom:.8em;}

.blue1{padding-bottom:1.6em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:1.5em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.white{padding-bottom:2em;}

#bird{padding-top:.7em;}

.parallax h1{position:absolute;
			left:.8em;
			top:1.5em;
            right:.8em;}

.parallax h3{position:absolute;
			left:0em;
			top:20em;
            right:0em;}

 h1 {font-family: 'Roboto Slab', serif;
         	font-weight:normal;
            color:#000;
			text-align: center;
            font-size:4.5em;
			padding-bottom:0em;
            line-height:1.6;
			}

h2 {font-family: 'Roboto Slab', serif;
            color:#000;
			text-align:center;
    		font-size:2em;
			padding-top:1.1em;
            padding-bottom:.8em;}

h3 {font-family: 'Roboto Slab', serif; 
	font-size:1em;
	line-height:1.5em;
	padding-top:2em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;
	}

.nav a{font-family: 'Roboto Slab', serif;
	padding:1em 0;
	text-align:center;
	margin:4px;
	color:#fff;
	text-decoration:none;
	font-size:1.2em;
	font-weight:bold;
    }


nav ul {text-align:left;
        padding-left:.5em;}

nav ul li {display:inline;
	margin:4px;
	text-align:left;}

#nat-geo{margin-right:20em;
        color:yellow;}

#takimg{width:100%;}

#man{width:100%;}
    
.box{height:16em;
    margin-bottom:.5em;}

.box .simple-caption {height:3em;
                    bottom:-3em;}

#moa{width:26%;
    float:left;
    margin-top:0em;
    padding-left:3.3em;
    margin-right:4em;}

#map{float:left;
    padding-left:0em; 
    margin-bottom:2em;
    margin-right:1em;
    width:100%;
    height:30em;
    margin-top:.8em;}

.bottombird{height:300px;
            padding-left:28em;}

.esttab{margin-top:1em;
        margin-bottom:2em;
        width:90%;
        }

.facts-tab{width:90%;
            line-height:1em;}

caption{font-family: 'Roboto Slab', serif; 
	font-size:1.3em;
	line-height:1.5em;
	padding-top:.5em;
	padding-bottom:.7em;
	text-align:justify;
	text-align:center;
	color:#fff;}

table{margin:auto;
        width:45%;
        border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
}

th{height:40px;
    text-align:center;
    background-color:#4d4d4d;
    color: white;
}

td{
    height:25px;
    text-align:center;
}

th, td{
    border:1.5px solid #ddd;
}

.footr{font-size:.2em;
	color:#ffffff;
	padding-top:1em;
	padding-bottom:1em;
	width:100%;
	background:#000;
	text-decoration:none;
		}

.love{font-family: 'Gentium Basic', serif;
	   font-size:1em;
        text-align:center;
		padding-bottom:1.5em;
		padding-left:5em;
		padding-top:1em;
		padding-right:6em;
		color:#EE273C;
		}}

@media (max-width:414px) {
    
body { max-width:100%;
			min-height:100%;
			font-size:.6em;
            font-family: 'Libre Baskerville', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:1em;
	padding-right:1em;
	padding-top:.5em;
	line-height:1.5em;
	color:#000;
    text-align:justify;
	}

blockquote{font-size:1em;
			line-height:1.5em;
			padding-left:2em;
			padding-right:2em;
			padding-top:1.7em;
			padding-bottom:1em;}

cite{font-size:.7em;
	line-height:1.2em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1.95em;}

.red{color:#fff;}

.red1{padding-bottom:1.6em;
    background-color:#EE273C;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.red12{padding-bottom:2.5em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:2em;
	font-size:1em;
    color:#fff;
    padding-top:2.5em;}

.red1 p{line-height:2;}

.tab-red{color:#fff;
        background-color:#EE273C;
        padding-top:.7em;
        padding-bottom:.8em;}

.blue1{padding-bottom:1.6em;
    background-color:#4d4d4d;
    font-family:'Libre Baskerville',serif;
    line-height:1.5em;
	font-size:1em;
    color:#fff;
    padding-top:.6em;}

.white{padding-bottom:2em;}

#bird{padding-top:.7em;}

.parallax h1{position:absolute;
			left:1em;
			top:2em;
            right:1em;}

.parallax h3{position:absolute;
			left:0em;
			top:35em;
            right:0em;}

 h1 {font-family: 'Roboto Slab', serif;
         	font-weight:normal;
            color:#000;
			text-align: center;
            font-size:4em;
			padding-bottom:0em;
            line-height:1.6;
			}

h2 {font-family: 'Roboto Slab', serif;
            color:#000;
			text-align:center;
    		font-size:2em;
			padding-top:1.1em;
            padding-bottom:.8em;}

h3 {font-family: 'Roboto Slab', serif; 
	font-size:1em;
	line-height:1.5em;
	padding-top:2em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;
	}

nav a{font-family: 'Roboto Slab', serif;
	padding:1em 0;
	text-align:center;
	margin:-.1em;
	color:#fff;
	text-decoration:none;
	font-size:.2em;
	font-weight:bold;
    }


nav ul {text-align:center;
        padding-left:.5em;}

nav ul li {display:inline;
	margin:4px;
	text-align:center;}

#nat-geo{margin-right:-.1em;
        color:yellow;}


#takimg{width:100%;}

#man{width:100%;}
    
.box{margin-right:.8em;
    height:10em;
    margin-bottom:.5em;}

.box .simple-caption {height:2em;
                    bottom:-2em;}
    
.cap{padding-left:20%;}


#moa{width:26%;
    float:left;
    margin-top:0em;
    padding-left:3.3em;
    margin-right:4em;}

#map{float:left;
    padding-left:0em; 
    margin-bottom:1em;
    margin-right:0em;
    width:100%;
    height:25em;
    margin-top:.8em;}

.bottombird{height:200px;
            padding-left:9em;}

.esttab{margin-top:1em;
        margin-bottom:2em;
        width:90%;
        }

.facts-tab{width:90%;
            line-height:1em;}

caption{font-family: 'Roboto Slab', serif; 
	font-size:1.3em;
	line-height:1.5em;
	padding-top:.5em;
	padding-bottom:.7em;
	text-align:justify;
	text-align:center;
	color:#000;}

table{margin:auto;
        width:45%;
        border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
}

th{height:40px;
    text-align:center;
    background-color:#4d4d4d;
    color: white;
}

td{
    height:25px;
    text-align:center;
}

th, td{
    border:1.5px solid #ddd;
}

.footr{font-size:.2em;
	color:#ffffff;
	padding-top:1em;
	padding-bottom:1em;
	width:100%;
	background:#000;
	text-decoration:none;
		}

.love{font-family: 'Gentium Basic', serif;
	   font-size:.5em;
        text-align:center;
		padding-bottom:1.5em;
		padding-left:5em;
		padding-top:1em;
		padding-right:6em;
		color:#EE273C;
		}}