* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;
	}

body { max-width:100%;
			min-height:100%;
			font-size:1em;
            font-family: 'Libre Baskerville', serif;
            margin:auto;
            line-height:1em;
		  	text-align:left;
			overflow-x:hidden;
			color:black;
			background:#fff;}

p{padding-bottom:.5em;
	padding-left:3em;
	padding-right:3em;
	padding-top:.5em;
	line-height:1.5em;
	font-size:1em;
	color:#000;
	}

blockquote{font-size:1.2em;
			line-height:1.5em;
			padding-left:5em;
			padding-right:5em;
			padding-top:1.2em;
			padding-bottom:1em;}

cite{font-size:.9em;
	line-height: 1.2em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:76em;}

/*------------------*/

.parallax h1{position:absolute;
			left:1em;
			top:4em;
            right:10em;}

 h1 {font-family: 'Roboto Slab', serif;
         	font-weight:normal;
            color:#000;
			text-align: center;
            font-size:4em;
			padding-top:1em;
			padding-bottom:0em;
			}

h2 {font-family: 'Roboto Slab', serif;
            color:#000;
			text-align: center;
    		font-size:2em;
			padding-top:1.5em;
			padding-bottom:.8em;
			}

h3 {font-family: 'Roboto Slab', serif; 
	font-size:2.5em;
	line-height:1.5em;
	padding-top:2em;
	padding-bottom:.1em;
	text-align:justify;
	text-align:center;
	color:#000;
	}

h5{font-family: 'Roboto Slab', serif;
	font-size:1.25em;
	line-height:1.25em;
	text-align:justify;
	text-align:right;}

/*------------------*/

.nav a{
	padding:4em 0;
	text-align:center;
	margin:5px;
	color:#fff;
	text-decoration:none;
	font-size:.9em;
	font-weight:bold;}

nav {padding-top:1em;
	padding-bottom:1em;}

nav ul {text-align:center;}

nav ul li {display:inline;
	margin:5px;
	text-align:center;}

nav{position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	background:#000;
	z-index:2;}

.nav a:hover{text-decoration:none;
			color:#EE273C;
			font-weight:bold;}

/*------------------*/

.foot{background-color:#1F4280;
		height:20px;
		margin-top:2em;}

footer{font-size:.7em;
	color:#000;
	padding-top:0em;
	padding-bottom:1em;
	text-align:center;
	left:0;
	margin:0;
	width:100%;
	background:#fff;
	text-decoration:none;
		}